In [1]:
# Shiman, shiman@berkeley.edu

## 6-1 Create table of Top Airports Information

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.set_option('display.notebook_repr_html', False) # turn off html, i.e., without table.
pd.set_option('display.max_rows', 5)   # getting the summary of the view versus getting everything. Terminal takes time to buffer.

In [29]:
# read data
top_airport = pd.read_csv('Data/top_airports.csv')
airport_info = pd.read_csv('Data/ICAO_airports.csv')
print(top_airport)

            City  FAA IATA  ICAO  \
0        Atlanta  ATL  ATL  KATL
1        Chicago  ORD  ORD  KORD
..           ...  ...  ...   ...
48        Dallas  DAL  DAL  KDAL
49  Indianapolis  IND  IND  KIND

                                             Airport Role  Enplanements
0   Hartsfield-Jackson Atlanta International Airport  P-L      43130585
1               Chicago O'Hare International Airport  P-L      32171831
..                                               ...  ...           ...
48                                 Dallas Love Field  P-M       3783407
49                Indianapolis International Airport  P-M       3728698

[50 rows x 7 columns]

In [45]:
top_airport.columns

Index([u'City', u'FAA', u'IATA', u'ICAO', u'name', u'Role', u'Enplanements'], dtype='object')

In [47]:
airport_info.columns

Index([u'id', u'ICAO', u'type', u'name', u'latitude_deg', u'longitude_deg',
       u'elevation_ft', u'continent', u'iso_country', u'iso_region',
       u'municipality', u'scheduled_service', u'gps_code', u'iata_code',
       u'local_code', u'home_link', u'wikipedia_link', u'keywords'],
      dtype='object')

In [41]:
# rename column for consistency
top_airport.rename(columns={'Airport': 'name'}, inplace=True)
airport_info.rename(columns={'ident': 'ICAO'}, inplace=True)

In [49]:
top_airport_info = pd.merge(top_airport, airport_info, on=['ICAO'])

In [65]:
key_info = top_airport_info[['name_y', 'City', 'ICAO', 'latitude_deg', 'longitude_deg']]

In [66]:
key_info

                                              name_y          City  ICAO  \
0   Hartsfield Jackson Atlanta International Airport       Atlanta  KATL
1               Chicago O'Hare International Airport       Chicago  KORD
..                                               ...           ...   ...
48                                 Dallas Love Field        Dallas  KDAL
49                Indianapolis International Airport  Indianapolis  KIND

    latitude_deg  longitude_deg
0      33.636700     -84.428101
1      41.978600     -87.904800
..           ...            ...
48     32.847099     -96.851799
49     39.717300     -86.294403

[50 rows x 5 columns]

## 6-2 Create table of Historical Weather Info

In [69]:
a = 'http://www.wunderground.com/history/airport/KSFO/2013/9/1/MonthlyHistory.html?format=1'
aa = pd.read_csv(a)

In [97]:
def readTemp(ICAO, 
             feature = ['Max TemperatureF', 'Min TemperatureF', ' Mean Humidity', 'PrecipitationIn', ' CloudCover']):
    fname = 'http://www.wunderground.com/history/airport/' + ICAO + '/2015/9/1/MonthlyHistory.html?format=1'
    ftemp = pd.read_csv(fname)[feature]
    #ftemp['ICAO'] = ICAO
    print(ICAO)
    return(ftemp)

In [98]:
#Temp = pd.DataFrame()
#for k in key_info['ICAO']:
frames = [readTemp(f) for f in key_info['ICAO']]
Temperature = pd.concat(frames)

KATL
KORD
KLAX
KDFW
KDEN
KJFK
KSFO
KIAH
KLAS
KPHX
KCLT
KMIA
KMCO
KEWR
KDTW
KMSP
KSEA
KPHL
KBOS
KLGA
KIAD
KBWI
KFLL
KSLC
PHNL
KDCA
KMDW
KSAN
KTPA
KPDX
KSTL
KMCI
KMEM
KCLE
KOAK
TJSJ
KRDU
KBNA
KSMF
KHOU
KSNA
KAUS
KSJC
KMSY
KPIT
KSAT
KCVG
KMKE
KDAL
KIND

In [103]:
Temperature

    Max TemperatureF  Min TemperatureF   Mean Humidity PrecipitationIn  \
0                 87                69              69            0.00
1                 90                73              67            0.00
..               ...               ...             ...             ...
28                73                61              81            0.27
29                69                56              61               T

     CloudCover  ICAO
0             4  KATL
1             5  KATL
..          ...   ...
28            8  KIND
29            7  KIND

[1500 rows x 6 columns]