1) Make a DataFrame with one row per issue with the following columns extracted
from the issue data:

   ``ntitle, created_at, labels, closed_at, user, id``

Transform the user values to be simply the 'login' string, so that the user
column contains only string usernames.

2) Remove duplicate rows by id from the DataFrame you just created using the id
column's duplicated method.

4) Convert the ``created_at`` and ``closed_at columns`` from string to datetime type.

5) Now construct appropriate time series and pandas functions to make the
following plots:

- Number of issues created by month

- Number of distinct users creating issues each month (hint: you can pass a
  function to resample's how argument, and there's nothing wrong with having
  string values in a TimeSeries)

6) Make a table and an accompanying plot illustrating:

- The mean number of days it took for issues to be closed by the month they
  were opened. In other words, for closed issues created in August 2012, how
  long were they open on average? (hint: use the ``total_seconds`` function on the
  timedelta objects computed when subtracting datetime objects). Also show the
  number of issues in each month in the table.

7) Make a DataFrame containing all the comments for all of the issues. You will
want to add an ``id`` attribute to each comment while doing so so that each row
contains a single comment and has the id of the issue it belongs to.

Convert the ``created`` column to datetime format; note you will need to multiply
the values (appropriately converted to integers) by 1000000 to get them in
nanoseconds and pass to to_datetime.

8) For each month, compute a table summarizing the following for each month:

- Total number of issue comments
- The "chattiest" user (most number of comments)
- The percentage of total comments made by the chattiest users
- The number of distinct participants in the issue comments

9) Create a helper ``labels`` table from the issues data with two columns: id and
label. If an issue has 3 elements in its 'labels' value, add 3 rows to the
table. If an issue does not have any labels, place a single row with None as
the label (hint: construct a list of tuples, then make the DataFrame).

10) Now, join the issues data with the labels helper table (pandas.merge). Add
a column to this table containing the number of days (as a floating point
number) it took to close each issue.

11) Compute a table containing the average time to close for each label
type. Now make a plot comparing mean time to close by month for Enhancement
versus Bug issue types.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Several ways to convert to date
from datetime import datetime
import dateutil.parser as parser

In [3]:
!pwd

/Users/kevinli/src/Python_For_Data_Science/Kevin/Homework7

In [4]:
!ls

Homework7_Pandas.ipynb closed.json

In [5]:
!head closed.json

[
  {
    "body": "re: pystatsmodels e-mail\r\n\r\n\r\nhi everyone,\r\n\r\njust getting started with pandas and i was wondering if someone could\r\nhelp me out.  do pandas.DataMatrix objects support per item comparison\r\noperations?\r\n\r\ni have a two data matrices, and i want to do something like this:\r\n\r\ndiv[div > 0.5 * price] = 0\r\n\r\nthis would work if div and price were numpy.ndarray objects.  any idea\r\nhow i would do something like this with pandas.DataMatrix objects?\r\n\r\nthanks,\r\nandy\r\n",
    "labels": [],
    "title": "Enable element-wise comparison operations in DataMatrix objects",
    "url": "https://api.github.com/repos/pydata/pandas/issues/1",
    "labels_url": "https://api.github.com/repos/pydata/pandas/issues/1/labels{/name}",
    "created_at": "2010-09-29T00:45:31Z",
    "events_url": "https://api.github.com/repos/pydata/pandas/issues/1/events",
    "comments_url": "https://api.github.com/repos/pydata/pandas/issues/1/comments",

In [6]:
df = pd.read_json('closed.json')

In [7]:
df.shape # (2968, 19)

(2968, 19)

In [8]:
df.columns

Index(['assignee', 'body', 'closed_at', 'comments', 'comments_url',
       'created_at', 'events_url', 'html_url', 'id', 'labels', 'labels_url',
       'milestone', 'number', 'pull_request', 'state', 'title', 'updated_at',
       'url', 'user'],
      dtype='object')

In [9]:
df2 = df[['title', 'created_at', 'labels', 'closed_at', 'user', 'id']]

In [13]:
df2.describe()

                    id
count      2968.000000
mean    6249461.397237
std     3597096.312367
min      337721.000000
25%     3096337.500000
50%     5431463.500000
75%     9117366.000000
max    13735491.000000

In [14]:
df2.user[0]

{'avatar_url': 'https://secure.gravatar.com/avatar/2c08a3eed709a9d1a2654cea45aa466f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png',
 'events_url': 'https://api.github.com/users/wesm/events{/privacy}',
 'followers_url': 'https://api.github.com/users/wesm/followers',
 'following_url': 'https://api.github.com/users/wesm/following',
 'gists_url': 'https://api.github.com/users/wesm/gists{/gist_id}',
 'gravatar_id': '2c08a3eed709a9d1a2654cea45aa466f',
 'html_url': 'https://github.com/wesm',
 'id': 329591,
 'login': 'wesm',
 'organizations_url': 'https://api.github.com/users/wesm/orgs',
 'received_events_url': 'https://api.github.com/users/wesm/received_events',
 'repos_url': 'https://api.github.com/users/wesm/repos',
 'starred_url': 'https://api.github.com/users/wesm/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/wesm/subscriptions',
 'type': 'User',
 'url': 'https://api.github.com/users/wesm'}

In [15]:
type(df2.user[0]) # We note that df2.user[0] is a dictionary

dict

In [16]:
tmp = [df2.user[i]['login'] for i in range(2968)]

In [17]:
df2.user = tmp

//anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [65]:
df2.loc[:,'user'] = tmp

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [18]:
df2.user

0                  wesm
1                  wesm
2                  wesm
3                  wesm
4                  wesm
5                  wesm
6                  wesm
7                  wesm
8                  wesm
9                  wesm
10                 wesm
11                 wesm
12              andylei
13              andylei
14              andylei
15              andylei
16                 wesm
17                 wesm
18                 wesm
19                 wesm
20                 wesm
21                 wesm
22             hector13
23             hector13
24               surbas
25               surbas
26                 wesm
27                 wesm
28                 wesm
29                 wesm
             ...
2938                y-p
2939            cpcloud
2940            jreback
2941            jreback
2942    rafaljozefowicz
2943             karmel
2944       danielballan
2945       danielballan
2946            jreback
2947             kyleam
2948                y-p
2949            jreback
2950            jreback
2951             abudis
2952                y-p
2953                y-p
2954                y-p
2955            jreback
2956             rla3rd
2957            jreback
2958            jreback
2959            cpcloud
2960                y-p
2961             kyleam
2962      TomAugspurger
2963          dieterv77
2964            nitraat
2965                y-p
2966         fonnesbeck
2967            cpcloud
Name: user, dtype: object

In [19]:
df3.created_at

NameError: name 'df3' is not defined

In [20]:
df3.closed_at #Already converted to datetime type ...

NameError: name 'df3' is not defined

In [69]:
#----- Task 3: Removing Duplicate Entries -----#

In [21]:
df3 = df2.drop_duplicates(subset='id', keep = "last")

In [71]:
df2.shape

(2968, 6)

In [72]:
df3.shape #Removed 34 duplicated entries

(2934, 6)

In [73]:
#----- Task 4 -----#
df3.columns

Index(['title', 'created_at', 'labels', 'closed_at', 'user', 'id'], dtype='object')

In [74]:
df3.index

Int64Index([   1,    3,    5,    7,    9,   11,   13,   15,   17,   19,
            ...
            2958, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 2966, 2967],
           dtype='int64', length=2934)

In [75]:
df3.resample('M', how={'created_at','count'})

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex

In [ ]:
import pylab
import matplotlib.pyplot as plt

In [ ]:
%pylab inline

In [76]:
from pylab import rcParams
rcParams['figure.figsize'] = 10, 10

In [79]:
tmp2.resample('M', how='max')

            title  labels  closed_at  user  id
created_at
2010-09-30      1       1          1     1   1
2010-10-31      1       1          1     1   1
2010-11-30      1       1          1     1   1
2010-12-31      1       1          1     1   1
2011-01-31      1       1          1     1   1
2011-02-28      1       1          1     1   1
2011-03-31      1       1          1     1   1
2011-04-30    NaN     NaN        NaN   NaN NaN
2011-05-31      1       1          1     1   1
2011-06-30      1       1          1     1   1
2011-07-31      1       1          1     1   1
2011-08-31      1       1          1     1   1
2011-09-30      1       1          1     1   1
2011-10-31      2       2          2     2   2
2011-11-30      3       3          3     3   3
2011-12-31      1       1          1     1   1
2012-01-31      1       1          1     1   1
2012-02-29      1       1          1     1   1
2012-03-31      2       2          2     2   2
2012-04-30      1       1          1     1   1
2012-05-31      1       1          1     1   1
2012-06-30      1       1          1     1   1
2012-07-31      1       1          1     1   1
2012-08-31      1       1          1     1   1
2012-09-30      1       1          1     1   1
2012-10-31      1       1          1     1   1
2012-11-30      1       1          1     1   1
2012-12-31      1       1          1     1   1
2013-01-31      1       1          1     1   1
2013-02-28      1       1          1     1   1
2013-03-31      1       1          1     1   1
2013-04-30      1       1          1     1   1

In [78]:
tmp2 = df3.groupby('created_at').count()
tmp3 = tmp2.resample('M', how='sum')

In [81]:
tmp3

            title  labels  closed_at  user   id
created_at
2010-09-30     11      11         11    11   11
2010-10-31      8       8          8     8    8
2010-11-30      2       2          2     2    2
2010-12-31      4       4          4     4    4
2011-01-31      9       9          9     9    9
2011-02-28      2       2          2     2    2
2011-03-31      2       2          2     2    2
2011-04-30    NaN     NaN        NaN   NaN  NaN
2011-05-31      7       7          7     7    7
2011-06-30      9       9          9     9    9
2011-07-31     30      30         30    30   30
2011-08-31     31      31         31    31   31
2011-09-30     66      66         66    66   66
2011-10-31    118     118        118   118  118
2011-11-30    110     110        110   110  110
2011-12-31    125     125        125   125  125
2012-01-31    154     154        154   154  154
2012-02-29    101     101        101   101  101
2012-03-31    126     126        126   126  126
2012-04-30    171     171        171   171  171
2012-05-31    179     179        179   179  179
2012-06-30    169     169        169   169  169
2012-07-31    141     141        141   141  141
2012-08-31    102     102        102   102  102
2012-09-30    139     139        139   139  139
2012-10-31    113     113        113   113  113
2012-11-30    216     216        216   216  216
2012-12-31    175     175        175   175  175
2013-01-31    130     130        130   130  130
2013-02-28    130     130        130   130  130
2013-03-31    212     212        212   212  212
2013-04-30    142     142        142   142  142

In [ ]:
plt.plot(tmp3)
plt.title('Number of issues created by month')
plt.xlabel('Time (Month)')
plt.ylabel('No. of Issues')

In [ ]:
# Creating own aggregation function to count distincy users
def distinct_users(x):
    return 
df3.resample('M', how=distinct_users)

In [ ]:
type(df3)

In [ ]:
tt = df3.groupby(['created_at', 'user']).count()
#tt1 = tt.groupby()
print(tt)

In [ ]:
tmp4 = df3.groupby('created_at').count()
tmp5 = (df3.groupby(['user'])).nunique()
tmp56 = tmp5.resample('M', how='sum')