In [3]:
import sqlite3
import pandas as pd
#from numpy import loadtxt

In [ ]:
##### ==================== Task 1 ====================== ######

In [2]:
pwd

'/Users/farahshih/Documents/Codes/Python_For_Data_Science/Fu-Chi/Homework6'

In [3]:
ls

ICAO_airports.csv*   hw_6-databasing.pdf* weather.db
hw6.ipynb            top_airports.csv*

In [4]:
!head top_airports.csv

City,FAA,IATA,ICAO,Airport,Role,Enplanements
Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585
Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831
Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737
Dallas-Fort Worth,DFW,DFW,KDFW,Dallas/Fort Worth International Airport,P-L,27100656
Denver,DEN,DEN,KDEN,Denver International Airport,P-L,25241962
New York,JFK,JFK,KJFK,John F. Kennedy International Airport,P-L,22934047
San Francisco,SFO,SFO,KSFO,San Francisco International Airport,P-L,20038679
Houston,IAH,IAH,KIAH,George Bush Intercontinental Airport,P-L,19528631
Las Vegas,LAS,LAS,KLAS,McCarran International Airport,P-L,18996738

In [4]:
top_airports = pd.read_csv("top_airports.csv")
ICAO_airports = pd.read_csv("ICAO_airports.csv")

In [5]:
top_airports.head(6)

,City,FAA,IATA,ICAO,Airport,Role,Enplanements
0,Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585
1,Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831
2,Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737
3,Dallas-Fort Worth,DFW,DFW,KDFW,Dallas/Fort Worth International Airport,P-L,27100656
4,Denver,DEN,DEN,KDEN,Denver International Airport,P-L,25241962
5,New York,JFK,JFK,KJFK,John F. Kennedy International Airport,P-L,22934047

In [6]:
ICAO_airports.head(6)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
2,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
3,6526,00AR,heliport,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,00AR,NaN,00AR,NaN,NaN,NaN
4,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
5,6528,00CA,small_airport,Goldstone /Gts/ Airport,35.350498,-116.888000,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN

In [7]:
ICAO_airports.columns

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

In [8]:
top_airports_f = pd.merge(top_airports, ICAO_airports[['id','name','ident','latitude_deg','longitude_deg']], how='left',
                          left_on='ICAO', right_on='ident')

In [33]:
top_airports.shape

(50, 7)

In [34]:
top_airports_f.shape

(50, 12)

In [35]:
top_airports_f

,City,FAA,IATA,ICAO,Airport,Role,Enplanements,id,name,ident,latitude_deg,longitude_deg
0,Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585,3384,Hartsfield Jackson Atlanta International Airport,KATL,33.636700,-84.428101
1,Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831,3754,Chicago O'Hare International Airport,KORD,41.978600,-87.904800
2,Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737,3632,Los Angeles International Airport,KLAX,33.942501,-118.407997
3,Dallas-Fort Worth,DFW,DFW,KDFW,Dallas/Fort Worth International Airport,P-L,27100656,3488,Dallas Fort Worth International Airport,KDFW,32.896801,-97.038002
4,Denver,DEN,DEN,KDEN,Denver International Airport,P-L,25241962,3486,Denver International Airport,KDEN,39.861698,-104.672997
5,New York,JFK,JFK,KJFK,John F. Kennedy International Airport,P-L,22934047,3622,John F Kennedy International Airport,KJFK,40.639801,-73.778900
6,San Francisco,SFO,SFO,KSFO,San Francisco International Airport,P-L,20038679,3878,San Francisco International Airport,KSFO,37.618999,-122.375000
7,Houston,IAH,IAH,KIAH,George Bush Intercontinental Airport,P-L,19528631,3604,George Bush Intercontinental Houston Airport,KIAH,29.984400,-95.341400
8,Las Vegas,LAS,LAS,KLAS,McCarran International Airport,P-L,18996738,3631,McCarran International Airport,KLAS,36.080101,-115.152000
9,Phoenix,PHX,PHX,KPHX,Phoenix Sky Harbor International Airport,P-L,18907171,3772,Phoenix Sky Harbor International Airport,KPHX,33.434299,-112.012001
10,Charlotte,CLT,CLT,KCLT,Charlotte/Douglas International Airport,P-L,18629181,3457,Charlotte Douglas International Airport,KCLT,35.214001,-80.943100
11,Miami,MIA,MIA,KMIA,Miami International Airport,P-L,17017654,3685,Miami International Airport,KMIA,25.793200,-80.290604
12,Orlando,MCO,MCO,KMCO,Orlando International Airport,P-L,17017491,3670,Orlando International Airport,KMCO,28.429399,-81.308998
13,Newark,EWR,EWR,KEWR,Newark Liberty International Airport,P-L,16571754,3521,Newark Liberty International Airport,KEWR,40.692501,-74.168701
14,Detroit / Romulus,DTW,DTW,KDTW,Detroit Metropolitan Wayne County Airport,P-L,15643890,3497,Detroit Metropolitan Wayne County Airport,KDTW,42.212399,-83.353401
15,Minneapolis,MSP,MSP,KMSP,Minneapolis-St. Paul International Airport (Wo...,P-L,15512487,3709,Minneapolis-St Paul International/Wold-Chamber...,KMSP,44.882000,-93.221802
16,Seattle / Tacoma (SeaTac),SEA,SEA,KSEA,Seattle-Tacoma International Airport,P-L,15406243,3875,Seattle Tacoma International Airport,KSEA,47.449001,-122.308998
17,Philadelphia,PHL,PHL,KPHL,Philadelphia International Airport,P-L,14951254,3771,Philadelphia International Airport,KPHL,39.871899,-75.241096
18,Boston,BOS,BOS,KBOS,Gen. Edward Lawrence Logan International Airport,P-L,13561814,3422,General Edward Lawrence Logan International Ai...,KBOS,42.364300,-71.005203
19,New York,LGA,LGA,KLGA,LaGuardia Airport (and Marine Air Terminal),P-L,12001501,3643,La Guardia Airport,KLGA,40.777199,-73.872597
20,Washington D.C. / Chantilly / Dulles,IAD,IAD,KIAD,Washington Dulles International Airport,P-L,11276481,3602,Washington Dulles International Airport,KIAD,38.944500,-77.455803
21,Baltimore / Glen Burnie,BWI,BWI,KBWI,Baltimore/Washington International Thurgood Ma...,P-L,10848633,3435,Baltimore/Washington International Thurgood Ma...,KBWI,39.175400,-76.668297
22,Fort Lauderdale,FLL,FLL,KFLL,Fort Lauderdale–Hollywood International Airport,P-L,10829810,3531,Fort Lauderdale Hollywood International Airport,KFLL,26.072599,-80.152702
23,Salt Lake City,SLC,SLC,KSLC,Salt Lake City International Airport,P-L,9910493,3887,Salt Lake City International Airport,KSLC,40.788399,-111.977997
24,Honolulu,HNL,HNL,PHNL,Honolulu International Airport / Hickam AFB,P-L,8740077,5453,Honolulu International Airport,PHNL,21.318701,-157.921997
25,Washington D.C. / Arlington County,DCA,DCA,KDCA,Ronald Reagan Washington National Airport,P-L,8736804,3483,Ronald Reagan Washington National Airport,KDCA,38.852100,-77.037697
26,Chicago,MDW,MDW,KMDW,Chicago Midway International Airport,P-L,8518957,3673,Chicago Midway International Airport,KMDW,41.785999,-87.752403
27,San Diego,SAN,SAN,KSAN,San Diego International Airport,P-L,8430509,3862,San Diego International Airport,KSAN,32.733601,-117.190002
28,Tampa,TPA,TPA,KTPA,Tampa International Airport,P-L,8137222,3926,Tampa International Airport,KTPA,27.975500,-82.533203
29,Portland,PDX,PDX,KPDX,Portland International Airport,P-M,6582227,3768,Portland International Airport,KPDX,45.588699,-122.598000
30,St. Louis,STL,STL,KSTL,Lambert-St. Louis International Airport,P-M,6044760,3905,Lambert St Louis International Airport,KSTL,38.748699,-90.370003
31,Kansas City,MCI,MCI,KMCI,Kansas City International Airport,P-M,4946173,3668,Kansas City International Airport,KMCI,39.297600,-94.713898
32,Memphis,MEM,MEM,KMEM,Memphis International Airport,P-M,4930935,3675,Memphis International Airport,KMEM,35.042400,-89.976700
33,Cleveland,CLE,CLE,KCLE,Cleveland-Hopkins International Airport,P-M,4704329,3454,Cleveland Hopkins International Airport,KCLE,41.411701,-81.849800
34,Oakland,OAK,OAK,KOAK,Oakland International Airport,P-M,4673417,3744,Metropolitan Oakland International Airport,KOAK,37.721298,-122.221001
35,San Juan / Carolina,SJU,SJU,TJSJ,Luis Muñoz Marín International Airport,P-M,4635798,6384,Luis Munoz Marin International Airport,TJSJ,18.439400,-66.001801
36,Raleigh,RDU,RDU,KRDU,Raleigh-Durham International Airport,P-M,4465736,3844,Raleigh Durham International Airport,KRDU,35.877602,-78.787498
37,Nashville,BNA,BNA,KBNA,Nashville International Airport (Berry Field),P-M,4432527,3420,Nashville International Airport,KBNA,36.124500,-86.678200
38,Sacramento,SMF,SMF,KSMF,Sacramento International Airport,P-M,4424279,3892,Sacramento International Airport,KSMF,38.695400,-121.591003
39,Houston,HOU,HOU,KHOU,William P. Hobby Airport,P-M,4357835,3588,William P Hobby Airport,KHOU,29.645399,-95.278900
40,Santa Ana,SNA,SNA,KSNA,John Wayne Airport – Orange County (was Orange...,P-M,4278623,3894,John Wayne Airport-Orange County Airport,KSNA,33.675701,-117.867996
41,Austin,AUS,AUS,KAUS,Austin-Bergstrom International Airport,P-M,4201136,3386,Austin Bergstrom International Airport,KAUS,30.194500,-97.669899
42,San Jose,SJC,SJC,KSJC,Norman Y. Mineta San José International Airport,P-M,4108167,3883,Norman Y. Mineta San Jose International Airport,KSJC,37.362598,-121.929001
43,New Orleans,MSY,MSY,KMSY,Louis Armstrong New Orleans International Airport,P-M,4088889,3711,Louis Armstrong New Orleans International Airport,KMSY,29.993401,-90.258003
44,Pittsburgh,PIT,PIT,KPIT,Pittsburgh International Airport,P-M,3996656,3778,Pittsburgh International Airport,KPIT,40.491501,-80.232903
45,San Antonio,SAT,SAT,KSAT,San Antonio International Airport,P-M,3916320,3863,San Antonio International Airport,KSAT,29.533701,-98.469803
46,Covington,CVG,CVG,KCVG,Cincinnati/Northern Kentucky International Air...,P-M,3906826,3471,Cincinnati Northern Kentucky International Air...,KCVG,39.048801,-84.667801
47,Milwaukee,MKE,MKE,KMKE,General Mitchell International Airport,P-M,3861333,3690,General Mitchell International Airport,KMKE,42.947201,-87.896599
48,Dallas,DAL,DAL,KDAL,Dallas Love Field,P-M,3783407,3479,Dallas Love Field,KDAL,32.847099,-96.851799
49,Indianapolis,IND,IND,KIND,Indianapolis International Airport,P-M,3728698,3610,Indianapolis International Airport,KIND,39.717300,-86.294403

In [39]:
top_airports_f = top_airports_f[['id','City','FAA','IATA','ICAO','Airport','Role','Enplanements','latitude_deg','longitude_deg']]

In [40]:
top_airports_f.head(3)

,id,City,FAA,IATA,ICAO,Airport,Role,Enplanements,latitude_deg,longitude_deg
0,3384,Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585,33.636700,-84.428101
1,3754,Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831,41.978600,-87.904800
2,3632,Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737,33.942501,-118.407997

In [26]:
top_airports_f.to_sql?

In [37]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute('''DROP TABLE IF EXISTS TOPairports''')
sql_cmd = """CREATE TABLE TOPairports (City TEXT, FAA TEXT, IATA TEXT, ICAO TEXT, Airport TEXT, Role TEXT, 
Enplanements INT, id INT, latitude_deg INT, longitude_deg INT)"""
cursor.execute(sql_cmd)

In [38]:
## read data into sqlite db
top_airports_f.to_sql("TOPairports", connection, if_exists='append', index=False)

In [ ]:
##### ==================== Task 2 ====================== ######

In [7]:
url = 'http://www.wunderground.com/history/airport/KSFO/2013/9/1/MonthlyHistory.html?format=1'
feature = ['PDT', 'Max TemperatureC', 'Min TemperatureC', ' Mean Humidity', 'Precipitationmm', ' CloudCover']
data = pd.read_csv(url)[feature]

In [8]:
data.head(6)

,PDT,Max TemperatureC,Min TemperatureC,Mean Humidity,Precipitationmm,CloudCover
0,2013-9-1,23,14,68,0.00,4
1,2013-9-2,24,17,77,0.00,6
2,2013-9-3,23,16,65,0.00,2
3,2013-9-4,23,16,72,0.00,4
4,2013-9-5,22,16,74,0.00,3
5,2013-9-6,29,13,58,0.00,0

In [17]:
data["ICAO"]="KSFO"

In [18]:
data.head(6)

,PDT,Max TemperatureC,Min TemperatureC,Mean Humidity,Precipitationmm,CloudCover,ICAO
0,2013-9-1,23,14,68,0.00,4,KSFO
1,2013-9-2,24,17,77,0.00,6,KSFO
2,2013-9-3,23,16,65,0.00,2,KSFO
3,2013-9-4,23,16,72,0.00,4,KSFO
4,2013-9-5,22,16,74,0.00,3,KSFO
5,2013-9-6,29,13,58,0.00,0,KSFO

In [19]:
data.columns = ['PDT', 'MaxTemp', 'MinTemp', 'Mean_Humidity','Precipitation', 'CloudCover', "ICAO"]

In [20]:
data.columns

Index(['PDT', 'MaxTemp', 'MinTemp', 'Mean_Humidity', 'Precipitation',
       'CloudCover', 'ICAO'],
      dtype='object')

In [85]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
#cursor.execute('''DROP TABLE IF EXISTS Weather''')
sql_cmd = """CREATE TABLE Weather (ICAO TEXT, PDT DATE, MaxTemp INT, MinTemp INT, Mean_Humidity INT, Precipitation INT,
CloudCover INT)"""
cursor.execute(sql_cmd)

In [86]:
## read data into sqlite db
# data.to_sql("Weather", connection, if_exists='append', index=False)

In [87]:
##### Parpare to load all cities and monthes data into DB

In [46]:
ICAO_ls = top_airports_f['ICAO']

In [47]:
ICAO_ls

0     KATL
1     KORD
2     KLAX
3     KDFW
4     KDEN
5     KJFK
6     KSFO
7     KIAH
8     KLAS
9     KPHX
10    KCLT
11    KMIA
12    KMCO
13    KEWR
14    KDTW
15    KMSP
16    KSEA
17    KPHL
18    KBOS
19    KLGA
20    KIAD
21    KBWI
22    KFLL
23    KSLC
24    PHNL
25    KDCA
26    KMDW
27    KSAN
28    KTPA
29    KPDX
30    KSTL
31    KMCI
32    KMEM
33    KCLE
34    KOAK
35    TJSJ
36    KRDU
37    KBNA
38    KSMF
39    KHOU
40    KSNA
41    KAUS
42    KSJC
43    KMSY
44    KPIT
45    KSAT
46    KCVG
47    KMKE
48    KDAL
49    KIND
Name: ICAO, dtype: object

In [90]:
pd.date_range(end='2008/9/30', periods=len(data) , freq='D')

DatetimeIndex(['2008-09-01', '2008-09-02', '2008-09-03', '2008-09-04',
               '2008-09-05', '2008-09-06', '2008-09-07', '2008-09-08',
               '2008-09-09', '2008-09-10', '2008-09-11', '2008-09-12',
               '2008-09-13', '2008-09-14', '2008-09-15', '2008-09-16',
               '2008-09-17', '2008-09-18', '2008-09-19', '2008-09-20',
               '2008-09-21', '2008-09-22', '2008-09-23', '2008-09-24',
               '2008-09-25', '2008-09-26', '2008-09-27', '2008-09-28',
               '2008-09-29', '2008-09-30'],
              dtype='datetime64[ns]', freq='D')

In [45]:
month_start = pd.date_range('2008/1/1', periods=100, freq='M')
month_start
# for d in range(len(month_start)):
#     dt = "/" + pd.Series(month_start.format())[d].replace('-','/') + '/'
#     print(dt)

DatetimeIndex(['2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30',
               '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31',
               '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31',
               '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30',
               '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31',
               '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31',
               '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31',
               '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
               '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31',
               '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30'],
              dtype='datetime64[ns]', freq='M')

In [27]:
def readTemp(ICAO_ls, month_start, feature, conn):
    for ICAO in ICAO_ls:
        for d in range(len(month_start)):
            ## formating date and create url
            date = pd.Series(month_start.format())[d].replace('-','/')
            dt = "/" + date + '/'
            url = "http://www.wunderground.com/history/airport/" + ICAO + dt + "MonthlyHistory.html?format=1"
            ## grab url data
            data = pd.read_csv(url)[feature]
            
            ## add ICAO code and daily calender 
            data["ICAO"] = ICAO
            data["PDT"] = pd.date_range(end=date, periods=len(data) , freq='D')
            ## change column names
            data.columns = ['MaxTemp', 'MinTemp', 'Mean_Humidity','Precipitation', 'CloudCover', 'ICAO','PDT']
            
            ## transfer data into sql db
            data.to_sql("Weather", connection, if_exists='append', index=False)
            print(ICAO+" "+date)

In [28]:
connection = sqlite3.connect("weather.db")

In [44]:
feature = ['Max TemperatureC', 'Min TemperatureC', ' Mean Humidity', 'Precipitationmm', ' CloudCover']
readTemp(ICAO_ls, month_start, feature, connection)

KIAH 2008/11/30
KIAH 2008/12/31
KIAH 2009/01/31
KIAH 2009/02/28
KIAH 2009/03/31
KIAH 2009/04/30
KIAH 2009/05/31
KIAH 2009/06/30
KIAH 2009/07/31
KIAH 2009/08/31
KIAH 2009/09/30
KIAH 2009/10/31
KIAH 2009/11/30
KIAH 2009/12/31
KIAH 2010/01/31
KIAH 2010/02/28
KIAH 2010/03/31
KIAH 2010/04/30
KIAH 2010/05/31
KIAH 2010/06/30
KIAH 2010/07/31
KIAH 2010/08/31
KIAH 2010/09/30
KIAH 2010/10/31
KIAH 2010/11/30
KIAH 2010/12/31
KIAH 2011/01/31
KIAH 2011/02/28
KIAH 2011/03/31
KIAH 2011/04/30
KIAH 2011/05/31
KIAH 2011/06/30
KIAH 2011/07/31
KIAH 2011/08/31
KIAH 2011/09/30
KIAH 2011/10/31
KIAH 2011/11/30
KIAH 2011/12/31
KIAH 2012/01/31
KIAH 2012/02/29
KIAH 2012/03/31
KIAH 2012/04/30
KIAH 2012/05/31
KIAH 2012/06/30
KIAH 2012/07/31
KIAH 2012/08/31
KIAH 2012/09/30
KIAH 2012/10/31
KIAH 2012/11/30
KIAH 2012/12/31
KIAH 2013/01/31
KIAH 2013/02/28
KIAH 2013/03/31
KIAH 2013/04/30
KIAH 2013/05/31
KIAH 2013/06/30
KIAH 2013/07/31
KIAH 2013/08/31
KIAH 2013/09/30
KIAH 2013/10/31
KIAH 2013/11/30
KIAH 2013/12/31
KIAH 2014/01/31
KIAH 2014/02/28
KIAH 2014/03/31
KIAH 2014/04/30
KIAH 2014/05/31
KIAH 2014/06/30
KIAH 2014/07/31
KIAH 2014/08/31
KIAH 2014/09/30
KIAH 2014/10/31
KIAH 2014/11/30
KIAH 2014/12/31
KIAH 2015/01/31
KIAH 2015/02/28
KIAH 2015/03/31
KIAH 2015/04/30
KIAH 2015/05/31
KIAH 2015/06/30
KIAH 2015/07/31
KIAH 2015/08/31
KIAH 2015/09/30
KIAH 2015/10/31
KIAH 2015/11/30
KIAH 2015/12/31
KIAH 2016/01/31
KIAH 2016/02/29
KIAH 2016/03/31
KIAH 2016/04/30
KIND 2008/11/30
KIND 2008/12/31
KIND 2009/01/31
KIND 2009/02/28
KIND 2009/03/31
KIND 2009/04/30
KIND 2009/05/31
KIND 2009/06/30
KIND 2009/07/31
KIND 2009/08/31
KIND 2009/09/30
KIND 2009/10/31
KIND 2009/11/30
KIND 2009/12/31
KIND 2010/01/31
KIND 2010/02/28
KIND 2010/03/31
KIND 2010/04/30
KIND 2010/05/31
KIND 2010/06/30
KIND 2010/07/31
KIND 2010/08/31
KIND 2010/09/30
KIND 2010/10/31
KIND 2010/11/30
KIND 2010/12/31
KIND 2011/01/31
KIND 2011/02/28
KIND 2011/03/31
KIND 2011/04/30
KIND 2011/05/31
KIND 2011/06/30
KIND 2011/07/31
KIND 2011/08/31
KIND 2011/09/30
KIND 2011/10/31
KIND 2011/11/30
KIND 2011/12/31
KIND 2012/01/31
KIND 2012/02/29
KIND 2012/03/31
KIND 2012/04/30
KIND 2012/05/31
KIND 2012/06/30
KIND 2012/07/31
KIND 2012/08/31
KIND 2012/09/30
KIND 2012/10/31
KIND 2012/11/30
KIND 2012/12/31
KIND 2013/01/31
KIND 2013/02/28
KIND 2013/03/31
KIND 2013/04/30
KIND 2013/05/31
KIND 2013/06/30
KIND 2013/07/31
KIND 2013/08/31
KIND 2013/09/30
KIND 2013/10/31
KIND 2013/11/30
KIND 2013/12/31
KIND 2014/01/31
KIND 2014/02/28
KIND 2014/03/31
KIND 2014/04/30
KIND 2014/05/31
KIND 2014/06/30
KIND 2014/07/31
KIND 2014/08/31
KIND 2014/09/30
KIND 2014/10/31
KIND 2014/11/30
KIND 2014/12/31
KIND 2015/01/31
KIND 2015/02/28
KIND 2015/03/31
KIND 2015/04/30
KIND 2015/05/31
KIND 2015/06/30
KIND 2015/07/31
KIND 2015/08/31
KIND 2015/09/30
KIND 2015/10/31
KIND 2015/11/30
KIND 2015/12/31
KIND 2016/01/31
KIND 2016/02/29
KIND 2016/03/31
KIND 2016/04/30