In [12]:
import sqlite3
import pandas as pd
#from numpy import loadtxt

In [ ]:
##### ==================== Task 1 ====================== ######

In [5]:
pwd

'/Users/farahshih/Documents/Codes/Python_For_Data_Science/Fu-Chi/Homework6'

In [6]:
ls

ICAO_airports.csv*   hw_6-databasing.pdf*
Untitled.ipynb       top_airports.csv*

In [9]:
!head top_airports.csv

City,FAA,IATA,ICAO,Airport,Role,Enplanements
Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585
Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831
Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737
Dallas-Fort Worth,DFW,DFW,KDFW,Dallas/Fort Worth International Airport,P-L,27100656
Denver,DEN,DEN,KDEN,Denver International Airport,P-L,25241962
New York,JFK,JFK,KJFK,John F. Kennedy International Airport,P-L,22934047
San Francisco,SFO,SFO,KSFO,San Francisco International Airport,P-L,20038679
Houston,IAH,IAH,KIAH,George Bush Intercontinental Airport,P-L,19528631
Las Vegas,LAS,LAS,KLAS,McCarran International Airport,P-L,18996738

In [7]:
!head ICAO_airports.csv

"id","ident","type","name","latitude_deg","longitude_deg","elevation_ft","continent","iso_country","iso_region","municipality","scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords"
6523,"00A","heliport","Total Rf Heliport",40.07080078125,-74.9336013793945,11,"NA","US","US-PA","Bensalem","no","00A",,"00A",,,
6524,"00AK","small_airport","Lowell Field",59.94919968,-151.695999146,450,"NA","US","US-AK","Anchor Point","no","00AK",,"00AK",,,
6525,"00AL","small_airport","Epps Airpark",34.8647994995117,-86.7703018188477,820,"NA","US","US-AL","Harvest","no","00AL",,"00AL",,,
6526,"00AR","heliport","Newport Hospital & Clinic Heliport",35.608699798584,-91.2548980712891,237,"NA","US","US-AR","Newport","no","00AR",,"00AR",,,
6527,"00AZ","small_airport","Cordes Airport",34.3055992126465,-112.165000915527,3810,"NA","US","US-AZ","Cordes","no","00AZ",,"00AZ",,,
6528,"00CA","small_airport","Goldstone /Gts/ Airport",35.3504981995,-116.888000488,3038,"NA","US","US-CA","Barstow","no","00CA",,"00CA",,,
6529,"00CO","small_airport","Cass Field",40.622200012207,-104.34400177002,4830,"NA","US","US-CO","Briggsdale","no","00CO",,"00CO",,,
6531,"00FA","small_airport","Grass Patch Airport",28.6455001831055,-82.2190017700195,53,"NA","US","US-FL","Bushnell","no","00FA",,"00FA",,,
6532,"00FD","heliport","Ringhaver Heliport",28.8465995788574,-82.3453979492188,25,"NA","US","US-FL","Riverview","no","00FD",,"00FD",,,

In [20]:
top_airports = pd.read_csv("top_airports.csv")
ICAO_airports = pd.read_csv("ICAO_airports.csv")

In [18]:
top_airports.head(6)

,City,FAA,IATA,ICAO,Airport,Role,Enplanements
0,Atlanta,ATL,ATL,KATL,Hartsfield-Jackson Atlanta International Airport,P-L,43130585
1,Chicago,ORD,ORD,KORD,Chicago O'Hare International Airport,P-L,32171831
2,Los Angeles,LAX,LAX,KLAX,Los Angeles International Airport,P-L,30528737
3,Dallas-Fort Worth,DFW,DFW,KDFW,Dallas/Fort Worth International Airport,P-L,27100656
4,Denver,DEN,DEN,KDEN,Denver International Airport,P-L,25241962
5,New York,JFK,JFK,KJFK,John F. Kennedy International Airport,P-L,22934047

In [21]:
ICAO_airports.head(6)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
2,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
3,6526,00AR,heliport,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,00AR,NaN,00AR,NaN,NaN,NaN
4,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
5,6528,00CA,small_airport,Goldstone /Gts/ Airport,35.350498,-116.888000,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN

In [26]:
top_airports.to_sql?

In [24]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute('''DROP TABLE IF EXISTS TOPairports''')
sql_cmd = """CREATE TABLE TOPairports (City TEXT, FAA TEXT, IATA TEXT, ICAO TEXT, Airport TEXT, Role TEXT, Enplanements INT)"""
cursor.execute(sql_cmd)

In [29]:
## read data into sqlite db
top_airports.to_sql("TOPairports", connection, if_exists='append', index=False)